<script>
import { NetworkStatus } from "apollo-client";
import gql from "graphql-tag";

export default {
  data() {
    return {
      hello: "",
      responseDelay: 1000,
      loadingHello: 0,
      networkError: false,
      loadingCountModifier: -1,
    };
  },
  computed: {
    isLoading() {
      return this.$apollo.queries.hello.loading;
    },
  },
  apollo: {
    hello: {
      query: gql`
        query hello($delay: Int = 0) {
          hello(delay: $delay)
        }
      `,
      // Reactive parameters
      variables() {
        // Use vue reactive properties here
        return {
          delay: this.responseDelay,
        };
      },
      // Variables: deep object watch
      deep: false,
      // We use a custom update callback because
      // the field names don't match
      // By default, the 'pingMessage' attribute
      // would be used on the 'data' result object
      // Here we know the result is in the 'ping' attribute
      // considering the way the apollo server works
      update(data) {
        console.log("[update]", data);
        // The returned value will update
        // the vue property 'pingMessage'
        return data.hello;
      },
      // Optional result hook
      result({ data, loading, networkStatus }) {
        console.log("[result]", data);

        // The network status can be used for more fine-grained error handling. For example:
        // Hint: The scenario below can be emulated by only running the client - `npm run start:client` - and not the server
        if (networkStatus === NetworkStatus.error) {
          this.networkError = true;
        }
      },
      // Error handling - `error.graphQLErrors` or `error.networkError` can be used to distinguish between error types
      error(error) {
        console.dir(error);

        if(error.graphQLErrors.length > 0) {
          console.log('[error] We are dealing with a GraphQL error');
        }

        if(error.networkError) {
          console.log('[error] We are dealing with a network error');
        }
      },
      // Loading state
      // loadingKey is the name of the data property
      // that will be incremented when the query is loading
      // and decremented when it no longer is.
      loadingKey: "loadingHello",
      // watchLoading will be called whenever the loading state changes
      watchLoading(isLoading, countModifier) {
        // isLoading is a boolean
        // countModifier is either 1 or -1
        this.loadingCountModifier = countModifier;
      },
    },
  },
};
</script>
<template>
  <section>
    <fieldset>
      <legend>Request settings</legend>
      <label
        >Response delay
        <input
          type="range"
          step="1000"
          min="0"
          max="5000"
          v-model.number="responseDelay"
        />
        {{ responseDelay }} ms
      </label>
    </fieldset>

    <p>Hi there, yo <span v-if="!isLoading">- {{ hello }}<span></p>

    <ul>
      <li>isLoading: {{ isLoading }}</li>
      <li>loadingKey: {{ loadingHello }}</li>
      <li>network error: {{ networkError }}</li>
      <li>loading count modifier: {{ loadingCountModifier }}</li>
    </ul>
  </section>
</template>
